<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <select size="27" class="col-md-12 select-fill-height" [(ngModel)]="selectedArmy.name" (ngModelChange)="onArmyChange($event)">
        <option *ngFor="let a of armies;">{{a.name}}</option>
      </select>
      <div>
        <input #newName class="col-md-12" (keyup.enter)="addArmy(newName)">
        <div>
          <button class="col-md-6" (click)="addArmy(newName)">Add New</button>
          <button class="col-md-6" (click)="removeArmy(selectedArmy.name)">Delete</button>
        </div>
      </div>
    </div>
  </div>

</div>
