<div class="container-fluid">
  <template ngFor let-upgrade [ngForOf]="upgrades" let-i="index">
    <div class="form-group form-inline row bordered">
      <input id="name" class="col-1 align-bottom col-10" [(ngModel)]="upgrade.name">
      <input id="pts" class="col-1 align-bottom" [(ngModel)]="upgrade.pts" type="number">
      <button class="col-1" (click)="removeUpgrade(i)">X</button>
      <div class="row">
        <div class="col-10 col-md-offset-1">
          <div clas="row">
            <template ngFor let-mod [ngForOf]="upgrade.unitModifiers" let-modi="index">
              <div class="row">
                <label class="col-2 text-right">Element</label>
                <select class="col-3" [(ngModel)]="mod.element" (ngModelChange)="setAction(mod)">
                    <option>name</option>
                    <option>type</option>
                    <option>special</option>
                    <option>piercing</option>
                    <option>cs</option>
                    <option>tc</option>
                </select>

                <label class="col-2 text-right">Value</label>
                <input class="col-4" type="text" [(ngModel)]="mod.newValue">

                <!--<label class="col-1 text-right">Action</label>
                <select class="col-2" [(ngModel)]="mod.action">
                    <option>add</option>
                    <option>replace</option>
                    <option>add-array</option>
                </select>-->

                <button class="col-1" (click)="removeMod(upgrade.unitModifiers, modi)">x</button>
              </div>
            </template>
          </div>
          <div clas="row">
            <template ngFor let-optmod [ngForOf]="upgrade.unitOptionModifiers" let-optmodi="index">
              <div class="row">
                <label class="col-2 text-right">Element</label>
                <select class="col-3" [(ngModel)]="optmod.element" (ngModelChange)="setAction(optmod)">
                    <option>sp</option>
                    <option>me</option>
                    <option>ra</option>
                    <option>de</option>
                    <option>at</option>
                </select>

                <label class="col-2 text-right">Value</label>
                <input type="text" class="col-4" [(ngModel)]="optmod.newValue">

                <!--<label class="col-1 text-right">Action</label>
                <select class="col-2" [(ngModel)]="optmod.action">
                    <option>add</option>
                    <option>replace</option>
                    <option>add-array</option>
                </select>-->

                <button class="col-1" (click)="removeMod(upgrade.unitOptionModifiers, optmodi)">x</button>
              </div>
            </template>
          </div>
          <div class="row">
            <div class="col-4 col-md-offset-1"><button class="col-12" (click)="addMod(upgrade.unitModifiers)">Add Modifier</button></div>
            <div class="col-4"><button class="col-12" (click)="addMod(upgrade.unitOptionModifiers)">Add Option Modifier</button></div>
          </div>
        </div>
      </div>
    </div>
  </template>
  <div class="row">
    <button class="col-4" (click)="addUpgrade()">Add New</button>
  </div>
</div>
