<div class="component">
  <select [(ngModel)]="armyList.name" (ngModelChange)="onArmyChange($event)">
    <option *ngFor="let a of armies">{{a.name}}</option>
  </select>

  <select (change)="onSortChange($event.target.value)">
      <option value="name">Name</option>
      <option value="troop">Troop Type</option>
  </select>

  <div *ngIf="armyList">
    <table class="unit-list">
      <tbody>
        <template ngFor let-unit [ngForOf]="armyList.units">
          <tr class="unit-header" (click)="toggleExpanded(unit)">
            <td>
              <span *ngIf="unit.isExpanded">&nbsp;&nbsp;&#9660;</span>
              <span *ngIf="!unit.isExpanded">&nbsp;&nbsp;&#9658;</span> {{unit.name}}
            </td>
            <td align="right">{{unit.unitType}}&nbsp;&nbsp;</td>
          </tr>
          <tr class="unit-options-row" *ngIf="unit.isExpanded">
            <td colspan=2>
              <table class="unit-options-list">
                <tbody>
                  <tr>
                    <td>Unit Size</td>
                    <td>Sp</td>
                    <td>Me</td>
                    <td>Ra</td>
                    <td>De</td>
                    <td>At</td>
                    <td>Nv</td>
                    <td>Pts</td>
                  </tr>
                  <tr *ngFor="let o of unit.unitOptions" (click)="addUnitOption(unit, o)">
                    <td>{{o.unitSize}} ({{o.modelCount}})</td>
                    <td>{{o.sp}}</td>
                    <td>{{o.me}}<span *ngIf="o.me !== '-'">+</span></td>
                    <td>{{o.ra}}<span *ngIf="o.ra !== '-'">+</span></td>
                    <td>{{o.de}}<span *ngIf="o.de !== '-'">+</span></td>
                    <td>{{o.at}}</td>
                    <td>{{o.nv.waver}}/{{o.nv.route}}</td>
                    <td>{{o.pts}}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
</div>
